.app-shell {
	--app-shell-gutter: calc(var(--spacing) * 4);
	--app-shell-content-max: 94rem;

	container-type: inline-size;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns:
		[full-start]
		minmax(var(--app-shell-gutter), 1fr)
		[content-start]
		minmax(0, var(--app-shell-content-max))
		[content-end]
		minmax(var(--app-shell-gutter), 1fr)
		[full-end];

	@variant lg {
		--app-shell-gutter: calc(var(--spacing) * 8);
	}
}

.app-shell-bounded {
	width: calc(100cqw - var(--app-shell-gutter) - var(--app-shell-gutter));
}

.app-title-bar {
	grid-column: full;
	display: grid;
	grid-template-columns: subgrid;
	border-color: var(--border);

	:where(&) > * {
		grid-column: content;
	}
}

.app-main {
	grid-column: full;
	display: grid;
	grid-template-columns: subgrid;
	align-content: start;
	padding-block: calc(var(--spacing) * 5);

	:where(&) > * {
		grid-column: content;
	}

	@variant lg {
		padding-block: calc(var(--spacing) * 8);
	}
}

.boxed-section {
	grid-column: full;
	display: grid;
	grid-template-columns: subgrid;

	:where(&) > * {
		grid-column: content;
	}
}

@media (prefers-reduced-motion: no-preference) {
	:where(.sidebar-link-group > ul > li) {
		opacity: 0;
		animation-duration: var(--animation-duration, 250ms);
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-name: fadeInUp;
		animation-delay: calc(sibling-index() * 50ms);
	}
}
