# The instance URL for the Xano API
VITE_API_BASE_URL=""
# The application group identifier (api:...)
VITE_API_APP_GROUP=""
# The Auth group identifier (api:...)
VITE_API_AUTH_GROUP=""
# Bypass auth for initial development
# VITE_MOCK_AUTH=true
# Show sample data when a generated list query's API request fails
# VITE_MOCK_DATA=true
