# The instance URL for the Xano API
VITE_XANO_INSTANCE_BASE_URL=""
# The application group identifier (api:...)
VITE_XANO_APP_GROUP=""
# The Auth group identifier (api:...)
VITE_XANO_AUTH_GROUP=""
# Bypass auth for initial development
# VITE_MOCK_AUTH=true
